<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QLKARAOKEConnectionString"
            connectionString="Data Source=MYLINH\MYLINH;Initial Catalog=QLKARAOKE;User ID=sa;Password=2012"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QLKARAOKEConnectionString1"
            connectionString="Data Source=MYLINH\MYLINH;Initial Catalog=QLKARAOKE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QLKARAOKEConnectionString2"
            connectionString="Data Source=MINHTAM\SQLEXPRESS;Initial Catalog=QLKARAOKE;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QLKakaokeConnectionString"
            connectionString="Data Source=MINHTAM\SQLEXPRESS;Initial Catalog=QLKakaoke;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="strMANV" serializeAs="String">
                <value />
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>