<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QLKARAOKEConnectionString"
            connectionString="Data Source=MYLINH\MYLINH;Initial Catalog=QLKARAOKE;User ID=sa;Password=2012"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QLKARAOKEConnectionString1"
            connectionString="Data Source=MYLINH\MYLINH;Initial Catalog=QLKARAOKE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>